<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DEVSQL-1 \WHOUSE;Initial Catalog=ASADWH;Persist Security Info=True;User ID=asadwh;Password=asadwh201601" providerName="System.Data.SqlClient" />
    <add name="IntegrationToolDBConnectionString" connectionString="Data Source=DEVSQL-1 \WHOUSE;Initial Catalog=ASADWH;Persist Security Info=True;User ID=asadwh;Password=asadwh201601" providerName="System.Data.SqlClient" />
    <add name="ASADWHConnectionString" connectionString="Data Source=DEVSQL-1 \WHOUSE;Initial Catalog=ASADWH;Persist Security Info=True;User ID=asadwh;Password=asadwh201601" providerName="System.Data.SqlClient" />
    <add name="ASADWHConnectionString2" connectionString="Data Source=devsql-1\whouse;Initial Catalog=ASADWH;Persist Security Info=True;User ID=asadwh;Password=asadwh201601" providerName="System.Data.SqlClient" />
    <add name="DEX" connectionString="Data Source=devsql-1\whouse;Initial Catalog=DEX;Persist Security Info=True;User ID=asadwh;Password=asadwh201601" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	    <add key="ComCareTimesheetUpload-Stage" value="\\\\clank\\COMCAREPROD\\Payroll\\CCToCIM\\Upload\\" />
	    <add key="ComCareTimesheetUpload-csv" value="\\clank\COMCAREPROD\Payroll\CCToCIM\Upload" />
	    <add key="ComCareTimesheetServerFolder" value="\\\\clank\\COMCAREPROD\\Payroll" />
	    <add key="ComCareTimesheetServerArchiveFolder" value="\\\\clank\\COMCAREPROD\\Payroll\\Archive" />
	    <add key="SSIS_UploadFolder_CIM" value="\\clank\COMCAREPROD\payroll\CCToCIM\Upload\CURRENT_PA_EXPORT.CSV" />
	    <add key="T1_ComCareTimesheetServerFolder" value="\\\\clank\\COMCAREDEV\\Payroll" />
	    <add key="T1_ComCareTimesheetServerArchiveFolder" value="\\\\clank\\COMCAREDEV\\Payroll\\Archive" />
	    <add key="T1_ComCareTimesheetUpload-Stage" value="\\\\clank\\COMCAREDEV\\Payroll\\CCToT1\\Upload\\" />
	    <add key="T1_ComCareTimesheetUpload-csv" value="\\clank\COMCAREDEV\Payroll\CCToT1\Upload" />
	    <add key="SSIS_UploadFolder_T1" value="\\clank\COMCAREDEV\payroll\CCToT1\Upload\CURRENT_PA_EXPORT.CSV" />
            <add key="ComCareToT1CiAnwhereTimesheetExportfolder" value="\\duey\T1\fin1\data\fintrain\import\Comcare\ASA ComCare to CiAnywhere Timesheet.csv" />
	    <add key="ComCareToT1CiAnwhereAutopay" value="\\duey\T1\fin1\data\fintrain\import\Comcare\ASAComCaretoCiAnywhereAutoPay.csv" />
	    <add key="CCToT1Manyfiles" value="\\duey\T1\fin1\data\fintrain\import\Comcare\" />
	    <add key="CCToT1ManyfilesProcessed" value="\\duey\T1\fin1\data\fintrain\import\ComCare\ComCareTimesheetProcessed\" />
	    <add key="CIMToT1Manyfiles" value="\\duey\T1\fin1\data\fintrain\import\" />
	    <add key="T1ToComCareEmployeePosition" value="\\duey\T1\fin1\data\fintrain\import\ComCare\T1ToComCareEmployeePositions.csv" />
	    <add key="CIMtoT1" value="\\clank\COMCAREPROD\Payroll\CCToCIM\CIMToT1" />
	    <add key="CIMtoT1Export" value="\\duey\T1\fin1\data\fintrain\import\ASA CIM  to CiAnywhere Timesheet.csv" />
  </appSettings>

	<system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true">
      <assemblies>
        <add assembly="Microsoft.SqlServer.ManagedDTS, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebDesign, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Design, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms.resources, Version=11.0.0.0, Culture=zh-CHT, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
   
    <authentication mode="Forms" />
    <sessionState mode="StateServer" timeout="360" />
    
  <pages><controls><add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls></pages>

	 <!-- <httpRuntime executionTimeout="100000" maxRequestLength="214748364" /> -->
	  <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
        <identity impersonate="false" />

		<customErrors mode="Off"/>


	</system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>